<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<!-- 绑定接口,将接口中的方法和对应的sql声明进行绑定
		接口绑定的参数,可以通过索引的方式获取,索引从0开始
		比如('sex','abc')		0='sex'	 1='abc' 
		还可以通过			param1='sex'	param2='abc'
	 -->
	 
<mapper namespace="cn.et.lesson03.sql.FoodMapper">
	<sql id="commonsql">
		select * from
	</sql>
	<select id="queyFoodAll" resultType="map">
		<include refid="commonsql"></include>
		food
	</select>
</mapper>